{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Données personnelles de {{app.user.FirstName}} {{app.user.LastName}}{% endblock %}

{% block body %}
{% if app.user and app.user == user %}
<div class="container">
	<div class="row mt-3 mb-3">
		<div class="col">
			<h2> {{app.user.FirstName}} {{app.user.LastName}} bonjour !</h2>
            <h2> Voici vos données personnelles :</h2>
		</div>
		<div class="col">
            <a title= "Modifier le mot de passe" class="btn btn-custom" href="{{path('profile_data_download')}}">Télécharger mes données personnelles</a>
			<img class="profile-pic" src="{{asset(user_profile_pictures_dir ~ app.user.picture)}}" alt="Votre photo de profil">

            <div class="container">
                <div class="">
                    <div class="col"><strong>Nom : </strong> {{app.user.LastName}}</div>
                    <div class="col"><strong>Prénom : </strong>{{app.user.FirstName}}</div>
                    <div class="col"><strong>Email : </strong>{{app.user.Email}}</div>
                    <div class="col"><strong>Date de naissance : </strong>{{app.user.Dob |date("m/d/Y")}}</div>
                    <div class="col"><strong>Adresse : </strong>{{app.user.AddressNumber}} {{app.user.AddressType}} {{app.user.AddressName}} - {{app.user.AddressZipcode}} {{app.user.AddressCity}} </div>
                </div>
            </div>
	    </div>
    </div>
</div>
    	<a title= "Retour à la page précédente" href="{{path('profile_index')}}" class="btn-retour" ><i class="fas fa-arrow-alt-circle-left"></i>Retour</a>

{% endif %}
{% endblock %}

