{% extends "base-pdf.html.twig" %}

{% block title %}Liste des données de {{app.user.FirstName}} {{app.user.LastName}} {% endblock %}
{% block body %}
    <h1>Liste des données de {{app.user.FirstName}} {{app.user.LastName}}</h1>

{% if app.user.picture != 'defaultUser.jpg' %}
    <h2>Votre photo :</h2>
    {{ absolute_url(asset(user_profile_pictures_dir ~ app.user.picture))}}
{% endif %}

    <h2>Vos données</h2>
    {# contrainte pdf: rajouter scope, les tr dans le thead le border #}
    <table border=1>
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">E-mail</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Ville</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{app.user.FirstName}}</td>
                <td>{{app.user.LastName}}</td>
                <td>{{app.user.Email}}</td>
                <td>{{app.user.Dob | date("m/d/Y")}}</td>
                <td>{{app.user.AddressNumber}} {{app.user.AddressType}} {{app.user.AddressName}}</td>
                <td>{{app.user.AddressZipcode}}</td>
                <td>{{app.user.AddressCity}}</td>
            </tr>
        </tbody>


    </table>
{% endblock %}