{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Profil {{app.user}}{% endblock %}

{% block body %}
{% include('_flash.html.twig') %}
	<div class="row mt-3 mb-3">
		<div class="col">
			<h2>Bonjour {{app.user}}, Voici votre profil</h2>
		</div>
		<div class="col">

			<img class="profile-pic" src="{{asset(user_profile_pictures_dir ~ app.user.picture)}}" alt="Votre photo de profil">
		</div>
	</div>

	<div class="mt-3 mb-3">
		<div class="btn-group">
			<a title= "Modifier la photo" class="btn btn-custom" href="{{path('profile_picture_modify')}}">Modifier la photo</a>
			<a title= "Modifier le mot de passe" class="btn btn-custom" href="{{path('profile_password_modify')}}">Modifier le mot de passe</a>
			<a title= "Modifier le mot de passe" class="btn btn-custom" href="{{path('profile_data')}}">Voir mes données personnelles (RGPD)</a>
		</div>
		<a title= "Retour à la page précédente" href="{{path('index')}}" class="btn-retour" ><i class="fas fa-arrow-alt-circle-left"></i>Retour à la page d'accueil</a>
	</div>
{% endblock %}

