{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Modify Password{% endblock %}

{% block body %}
<h1>Modify Password</h1>
{% form_theme passwordModifyForm 'bootstrap_4_layout.html.twig' %}
<div class="mb-3">
    {{ form_start(passwordModifyForm) }}
    {{ form_row(passwordModifyForm.newPassword.first) }}
    {{ form_row(passwordModifyForm.newPassword.second) }}
</div>
<div class="mb-3">
    <button class="btn btn-primary" type="submit" class="btn">Confirmer</button>
</div>

{{ form_end(passwordModifyForm) }}
{% endblock %}