{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Profil de {{user}}
{% endblock %}

{% block body %}
	<div class="row mt-3 mb-3">
		<div class="col">
			<h2>Profil de
				{{user}}</h2>
		</div>
		<div class="col">
			<img class="profile-pic" src="{{asset(user_profile_pictures_dir ~ user.picture)}}" alt="Profil de {{user}}">
		</div>
	</div>

{% endblock %}
