<form method="post" action="{{ path('calendar_delete', {'id': calendar.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer l\'évènement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calendar.id) }}">
    <button title= "Supprimer l\'évènement" class="btn">Supprimer</button>
</form>
