{% extends 'base.html.twig' %}

{% block title %}
    {{parent()}}Agenda
{% endblock %}

{% block body %}
    <div class="row">
         <div id="calendar"></div>
           <div class="btn-calendar">
                <a title= "Ajouter un rendez-vous" class="btn btn-custom" href={{ path('calendar_new') }}>Ajouter</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
let calendarEl = document.getElementById('calendar');
let calendar = new FullCalendar.Calendar(calendarEl, {
initialView: 'timeGridWeek',
locale: 'fr',
timeZone: 'Europe/Paris',
headerToolbar: {
start: 'prev,next today',
center: 'title',
end: 'timeGridWeek,dayGridMonth'
},
buttonText: {
today: 'Aujourd\'hui',
week: 'Semaine',
month: 'Mois'
},

//j'affiche mes évènements dans mon calendrier au format json
events: {{ data|raw }},
// pour replacer les evènement directement sur le calendrier en les glissant
editable: true,
// pour redimensionner sur le haut
eventResizableFromStart: true
})

calendar.on('eventChange', (e) => {
// on crée notre url
//console.log(e);
let url = `/api/edit/${e.event.id}`

let donnees = {
"title": e.event.title,
"description": e.event.extendedProps.description,
"start": e.event.start,
"end": e.event.end,
"backgroundColor": e.event.backgroundColor,
"borderColor": e.event.borderColor,
"textColor": e.event.textColor,
"allDay": e.event.allDay
}

// pour envoyer les données, on utilise XMLHttpRequet
let xhr = new XMLHttpRequest
xhr.open("PUT", url)
xhr.send(JSON.stringify(donnees))
})

calendar.render();
})
    </script>
{% endblock %}


