{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Modifier rendez-vous
{% endblock %}

{% block body %}
	<h1>Modifier rendez-vous</h1>

	{{ include('calendar/_form.html.twig', {'button_label': 'Modifier'}) }}

	<a title= "Retour à la liste d\'évènements" href="{{ path('calendar_index') }}">Retour à la liste</a>

	{{ include('calendar/_delete_form.html.twig') }}
{% endblock %}
