{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Agenda
{% endblock %}
{% block stylesheets %}
	<meta name="description" content="agenda du thérapeute">
{% endblock %}
{% block body %}
	<h2>Agenda</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Start</th>
				<th>End</th>
				<th>Description</th>
				<th>AllDay</th>
				<th>BackgroundColor</th>
				<th>BorderColor</th>
				<th>TextColor</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for calendar in calendars %}
				<tr>
					<td>{{ calendar.id }}</td>
					<td>{{ calendar.title }}</td>
					<td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ calendar.description }}</td>
					<td>{{ calendar.allDay ? 'Yes' : 'No' }}</td>
					<td>{{ calendar.backgroundColor }}</td>
					<td>{{ calendar.borderColor }}</td>
					<td>{{ calendar.textColor }}</td>
					<td>
						<a title= "Voir Agenda" href="{{ path('calendar_show', {'id': calendar.id}) }}">Voir</a>
						<a title= "Modifier un évènement" href="{{ path('calendar_edit', {'id': calendar.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a title= "Ajouter un évènement" href="{{ path('calendar_new') }}">Ajouter</a>
{% endblock %}
