{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	ajout rendez-vous
{% endblock %}

{% block body %}
	<h1>Créer un nouveau rendez-vous</h1>

	{{ include('calendar/_form.html.twig') }}

	<a title= "Retour à la liste d\'évènements" href="{{ path('calendar_index') }}">Retour à la liste</a>
{% endblock %}
