{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Vue Calendrier {% endblock %}

{% block body %}
    <h1>Calendar</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ calendar.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ calendar.title }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ calendar.description }}</td>
            </tr>
            <tr>
                <th>AllDay</th>
                <td>{{ calendar.allDay ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>BackgroundColor</th>
                <td>{{ calendar.backgroundColor }}</td>
            </tr>
            <tr>
                <th>BorderColor</th>
                <td>{{ calendar.borderColor }}</td>
            </tr>
            <tr>
                <th>TextColor</th>
                <td>{{ calendar.textColor }}</td>
            </tr>
        </tbody>
    </table>

    <a title= "Retour à la liste d\'évènements" href="{{ path('calendar_index') }}">Retour à la liste</a>

    <a title= "Modifier un évènement" href="{{ path('calendar_edit', {'id': calendar.id}) }}">Modifier</a>

    {{ include('calendar/_delete_form.html.twig') }}
{% endblock %}
