{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Connexion
{% endblock %}

{% block body %}

	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Bonjour
				{{ app.user.username }},
				<a title= "Déconnexion" href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		{% endif %}
<div class="row-login">
		<h2>Connexion</h2>
		<label for="inputEmail">Email</label>
		<input title= "Email" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
		<label for="inputPassword">Mot de passe</label>
		<input title= "Mot de passe" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
<div class="row-btn-login">
		<button title= "Connexion" class="btn btn-custom btn-coin btn-login" type="submit">Connexion</button>
		<button title= "Créer un compte" class="btn btn-custom btn-coin btn-login" type="submit"  >
			<a title= "Créer un compte" href= {{ path('app_register') }}>Créer un compte</a>
		</button>
</div>
</div>
	</form>
{% endblock %}
