 {% extends 'base.html.twig' %}

{% block title %}{{parent()}} Inscription
{% endblock %}

{% block body %}

	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	
<div class="main-register">
	<div class="mb-3 form-register"> 

		<h2>Nouveau compte</h2>
			<div class="connected">
				<p>déjà un compte ? : <a title= "Se connecter" href="{{path('app_login')}}">se connecter</a></p>
			</div>

		{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
			{{ form_start(registrationForm) }}

			<span class="champ-obligatoire"><span>*</span>
			{{ form_label(registrationForm.first_name, 'Prénom') }}
			</span>
			{{ form_widget(registrationForm.first_name) }}
			{{ form_errors(registrationForm.first_name) }}

			{{ form_row(registrationForm.last_name) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.dob) }}
			{{ form_row(registrationForm.user_phone, { 'attr': {'placeholder': 'Votre téléphone'}}) }}


			<div class="mb-3">
			{{form_label(registrationForm.plainPassword.first,'Mot de passe')}}
			<span  id="eyes">
				<span id="eye" style = "display: none"><i class="far fa-eye"></i></span>
				<span id="eyeClosed"><i class="far fa-eye-slash"></i></span>
			</span>
			{{ form_widget(registrationForm.plainPassword.first, {'attr': {'id': 'passwordFirst'}}) }}
			{{ form_row(registrationForm.plainPassword.second, {'attr': {'id': 'passwordSecond'}}) }}
			{{ form_row(registrationForm.picture) }}
			</div>

			<div class="mb-3">
			{{ form_row(registrationForm.address_number) }}
			{{ form_row(registrationForm.address_type) }}
			{{ form_row(registrationForm.address_name) }}
			{{ form_row(registrationForm.address_zipcode) }}
			{{ form_row(registrationForm.address_city) }}
			</div>

			<div class="mb-3">
			{{ form_row(registrationForm.agreeTerms) }}
			</div>

			<button title= "Valider" type="submit" class="link">Valider</button>
			{{ form_end(registrationForm) }}
	</div>
</div>
{% endblock %}

 {% block javascripts %}


	<script type="text/javascript">

		document.addEventListener('DOMContentLoaded', function () {
			const passwordFirst = document.getElementById('registration_form_plainPassword_first');
			const passwordSecond = document.getElementById('passwordSecond');
			const eye = document.getElementById("eye");
			const eyeClosed = document.getElementById("eyeClosed");
			const eyes = document.getElementById("eyes");

    //changement de la couleur de la bordure en fonction de la longueur du mot de passe
			    passwordFirst.addEventListener("keyup", (event) => {
					console.log(event.target.value);
         let value = event.target.value;
         if (value.length < 8){
             passwordFirst.style.borderColor = "red";
         }
         if (value.length >= 8 && value.length < 12){
             event.target.style.borderColor = "orange";
         }
         if (value.length >= 12){
             event.target.style.borderColor = "green";
         }
    })
     
     eyes.addEventListener('mousedown', () => {
         passwordFirst.type = "text";
		 eye.style.display = "";
		 eyeClosed.style.display = "none";

     })
     eyes.addEventListener('mouseup', () => {
         passwordFirst.type = "password";
		 eye.style.display = "none";
		 eyeClosed.style.display = "";

     })
		})


	</script>
{% endblock %}