{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Accueil
{% endblock %}


{% block body %}
{% include '_flash.html.twig' %}
	 <div class="row-accueil">
		 <img id="home-img"src="{{ asset('img/Sabrinav4.jpg') }}" alt="Photo de présentation de Sabrina Reboux"/> 

			<div class="button-product">
				<a title= "Soin énergétique" class="btn-product1" href="#corps-etherique" title="Soin énergétique"><strong><em>Soin énergétique</em></strong></a>
				<a title= "Magnétisme" class="btn-product2" href="#corps-emotionnel" ><strong><em>Magnétisme</em></strong></a>
				<a title= "Reiki" class="btn-product3" href="#corps-mental" ><strong><em>Reiki</em></strong></a>
				<a title= "Access bar ®" class="btn-product4" href="#corps-spirituel" ><strong><em>Access bar ®</em></strong></a>
			</div>
	</div> 

<div class="row-corps">
<div id="corps-etherique">
	<img id="etherique" src="{{ asset('img/chakra.jpg') }}" alt="photo montrant les zones éthérique du corps" />
		<div id="text-etherique">
			<h2>Soin énergétique</h2> 
			<h3>corps éthérique</h3> 
				<ul>
					<li>Il entoure le corps physique comme une fourrure, s’en est la caisse de résonance. Il est d’ailleurs généralement considéré comme faisant partie du physique, il est le support des chakras et du système énergétique. C’est celui, de nos corps subtils, qui est directement en contact avec le corps physique. C’est principalement dans celui-ci qu’agissent les techniques énergétiques.</li>
					<li>Il disparaît après la mort.</li>
					<li>Il mesure entre 5 et 10 centimètres d’épaisseur. On peut facilement le sentir avec un peu d’attention.</li>
				</ul>
		</div>		
</div>

<div id="corps-emotionnel">
	<img id="emotionnel" src="{{ asset('img/soin.jpg') }}" alt="photo montrant les zones éthérique du corps" />
	<div id="text-emotionnel">
	<a title= "Retour haut de page" href="#haut" ><i class="fas fa-arrow-circle-up" style="font-size: 3rem"></i>haut de page</a>
		<h2>Magnétisme</h2> 
		<h3>Le corps émotionnel (aussi appelé corps astral)</h3> 
			<ul>
				<li>C’est ce que la plupart des gens appellent “l’Aura”. Le corps Astral est le plan de l’être qui est en relation avec les ressentis, avec les émotions. On a observé dans les expériences sur le « champ d’énergie humain » qu’il modifie  sa forme et son volume en fonction des émotions que nous ressentons. Il est en lien direct avec le champ électromagnétique du cœur et le chakra qui y est associé.</li>
				<li>Les déséquilibres ou blocages émotionnels s’y logent avant de se manifester dans le corps physique.</li>
				<li>Il ne disparaît pas à la mort physique.</li>
				<li>Il mesure entre 1 mètre 50 et 4 à 5 mètres de diamètre (tout comme le champ électromagnétique du cœur).</li>
			</ul>
	</div>	
</div>

<div id="corps-mental">
<img id="mental" src="{{ asset('img/Reiki.jpg') }}" alt="photo montrant les zones éthérique du corps" />
	<div id="text-mental">
	<h2>Reiki</h2> 
	<h3>Le corps mental</h3> 
		<ul>
			<li>Matérialisé et animé par nos pensées, nos idées, sa structure est moins dense que celle du corps Astral, sa vibration est plus élevée. Ce plan de l’individu est le reflet profond de la personnalité. Il supporte nos schémas de pensées conscients ou inconscients. C’est là que se cristallisent nos croyances limitantes et les « formes pensées ».</li>
			<li>Le corps Mental tend a disparaître quelque temps après la mort physique.</li>
			<li>Il  peut atteindre plusieurs mètres de diamètre.</li>
		</ul>
	</div>	
</div>

<div id="corps-spirituel">
<img id="spirituel" src="{{ asset('img/energie.jpg') }}" alt="photo montrant les zones éthérique du corps" />
	<div id="text-spirituel">
		<a title= "Retour haut de page" href="#haut" ><i class="fas fa-arrow-circle-up" style="font-size: 3rem"></i>haut de page</a>
	<h2>Access bar ®</h2> 
	<h3>Le corps spirituel</h3> 
		<ul>
			<li>En réalité le corps spirituel est composé de trois corps différents: le corps causal, le bouddhique et l’atmique.</li>
			<li>Les dimensions en sont extrêmement variables en fonction de la spiritualité de l’individu. Le corps spirituel correspond à cette part Divine qui est en chacun de nous, et qui existe bien au-delà de notre conscience terrestre. Le développement du corps Causal est intimement lié à «l’ouverture» du chakra coronal.</li>
			<li>Il ne disparaît évidemment pas après la mort.</li>
			<li>Il s’étend bien au delà de notre conscience physique.</li>
		</ul>
	</div>	
</div>

	<div id="corps-spirituel">
		<div id="text-info">
			<h3>Vous voilà donc informés, tout ce qui vit en vous, vibre dans et autour de vous.
			Lorsque vous entretenez de la colère dans votre cœur elle s’étend à plusieurs mètres autour de vous...<h3>
		</div>
	</div>
</div>
{% endblock %}

