body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: Bellota, Verdana, Arial, Helvetica, sans-serif;
}

.nav img {
    display: flex;
    justify-content: right;
}

.img-presentation {
    margin: auto;
    margin-top: 0;
}

.user-picture {
    margin: auto;
    margin-top: 0;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    background: #00f5d4;
    background: #fff;
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
}

a.modif-category-view {
    color: black;
}

a.modif-category-view:hover {
    color: black;
}

nav {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-item {
    text-decoration: none;
}

.nav-item:hover {
    transform: scale(1.0) translate(0%, -20%);
    transition: 0.5s;
}

.navbar img {
    width: auto;
    height: 15vh;
    margin-left: 1rem;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-around;
    font-size: 1.5vw;
}

.navbar-light .navbar-nav .nav-link {
    margin-left: 3vw;
}

#navbarNavDropdown a:hover {
    border-bottom: 4px solid #dead51;
    padding-bottom: 2px;
}

#navbarDropdownMenuLink:visited {
    color: transparent;
}

nav a {
    text-decoration: none;
}

h1 {
    font-family: 'Great Vibes', Lobster, 'Century Gothic', Verdana, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    color: #dead51;
    font-style: oblique;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 5px;
    margin: 0;
}

h2 {
    display: flex;
    justify-content: space-around;
    color: rgba(192, 156, 65, 0.89);
    font-style: oblique;
    font-weight: bold;
    padding-top: 15px;
    margin: 0;
}

h3 {
    display: flex;
    color: #EA96DF;
    font-style: oblique;
    font-weight: bold;
    padding-top: 15px;
    margin: 0;
}


h4 {
    display: flex;
    justify-content: space-around;
    color: #dead51;
    font-style: oblique;
    font-weight: bold;
    font-size: 1rem;
    padding-top: 5px;
    margin: 0;
}

h5 {
    display: flex;
    justify-content: flex-start;
    color: #2f8673;
    font-style: oblique;
    font-weight: bold;
    font-size: 1rem;
    padding-top: 5px;
    margin: 0;
}

.liseret {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    height: 5px;
    background-color: rgb(233, 201, 21);
}

.card {
    padding-bottom: 1%;
    padding-top: 1%;
    margin-top: 1%;
    height: 55vh;
    max-height: 450px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    transition: transform 250ms;
}

.card:hover {
    transform: scale(1.03);
}

.card-body {
    text-align: center;
}

.cat-create {
    text-align: center;
}

.btn-category-create {
    color: red;
}

.btn-calendar {
    display: flex;
    justify-content: flex-end;
}

.name-category {
    margin-top: 5%
}

.row-user-view {
    height: 80vh;
}

.row-login {
    background-image: linear-gradient(rgba(221, 218, 211, 0.9), rgba(245, 238, 177, 0.5));
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    height: auto;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.row-update-product {
    margin-top: 0;
    padding-bottom: 0%;
}

.row-login a {
    color: white;
}

.row-custom {
    display: flex;
    padding-top: 8vh;
    justify-content: center;
    background-image: linear-gradient(rgba(221, 218, 211, 0.9), rgba(245, 238, 177, 0.5));
    background-color: transparent;
}

.row-view-product {
    margin-top: 5%;
    height: auto;
    margin-bottom: 5%;
}

.main-btn {
    display: flex;
}

.row-update-user {
    display: flex;
    background-color: linear-gradient(rgba(221, 218, 211, 0.9), rgba(245, 238, 177, 0.5));
    justify-content: flex-end;
    padding-right: 15%;
}

.clients {
    background-image: linear-gradient(rgba(221, 218, 211, 0.9), rgba(245, 238, 177, 0.5));
    height: 80vh;
    padding-top: 10%;
}

.viewProduct {
    width: 500px;
    height: 500px;
    display: -webkit-flex;
}

.parcourir {
    width: max-content;
    margin-top: 5%;
}

.display-none {
    display: none;
}

.connected {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.connected a {
    color: green;
    font-weight: bold;
}

.main-register {
    background-image: url("../img/ponton.jpg");
    background-size: cover;
    color: white;
}

.form-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
}

.champ-obligatoire span {
    color: red;
}

#product_form {
    padding-top: 15%;
}

a:hover {
    color: rgba(150, 122, 50, 0.89);
}

.row-accueil {
    width: 100%;
    position: relative;
}

#home-img {

    width: 100%;
    position: relative;
}

a {
    text-decoration: none;
}

.btn-row {
    display: flex;
    flex-direction: row;
}

.btn-prendre-rdv {
    position: absolute;
    margin-top: -5%;
}

.btn-rdv {
    width: 12.7vh;
    height: 3.8vh;
}

.btn-retour {
    color: rgb(104, 76, 76);
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
    margin-right: 10%;
    padding-top: 1%;
}

.row-btn-login {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn-login {
    justify-content: flex-end;
}

.button-product {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 13%;
    left: 10%;
    font-size: 1vw;
    width: 30%;
}

.btn-admin {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10%;
}

.btn-coin {
    display: flex;
    justify-content: center;
    margin-top: 10vw;
    width: 21vh;
}

.btn-product-view {
    height: max-content;
}

.btn-product1,
.btn-product2,
.btn-product3,
.btn-product4 {
    color: rgba(192, 156, 65, 0.89);
    font-size: 4.5vw;
    text-decoration: none;
    font-family: 'Great Vibes', Lobster, 'Century Gothic', Verdana, Arial, Helvetica, sans-serif;
    margin: 2%;
}

.btn-custom {
    background-color: rgba(192, 156, 65, 0.89);
    color: linear-gradient(rgba(221, 218, 211, 0.9), rgba(245, 238, 177, 0.5));
    font-weight: bold;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    margin-bottom: 4%;
    margin-right: 5%;
    margin-left: 5%;
}

.action a {
    color: rgba(41, 34, 34, 0.801);
}

.btn-etape-suivante {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: red;
    margin-bottom: 4%;
    margin-right: 4%;
}

.btn-custom:hover,
.btn-custom:focus {
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
    background-color: rgb(238, 195, 85);
    color: #fff;
}

.action-custom {
    display: flex;
}

.action {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
}

.recap-paiement {
    font-size: 1.5rem;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.paypal {
    color: cornflowerblue;
    font-size: 3rem;
}

.mastercard {
    color: orange;
    font-size: 3rem;
}

.visa {
    color: rgb(0, 255, 200);
    font-size: 3rem;
}

#corps-etherique,
#corps-emotionnel,
#corps-mental,
#corps-spirituel {
    display: flex;
    height: 100%;
    padding-top: 5vw;
    padding-bottom: 5vw;
    margin-left: 5%;
    margin-right: 5%;
    border-color: rgb(175, 175, 204);
}

#corps-emotionnel,
#corps-spirituel {
    flex-direction: row-reverse;
}

#etherique,
#mental {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
}

#emotionnel,
#spirituel {

    max-height: 100%;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
}

#text-etherique,
#text-mental,
#text-emotionnel,
#text-spirituel {
    margin-left: 5vw;
}

#text-info {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

#calendar {
    width: 50%;
    margin: auto;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;
    height: 15vh;
    background: rgb(69, 130, 201);
    color: rgb(233, 201, 21);
    font-size: 1.5vw;
}

#map {
    width: 50vw;
    height: 60vh;
}

#contactt {
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
    margin-right: 5vh;
    margin-left: 5vh;
}

.local {
    height: 18vh;
}

.card-user {
    height: 20vh;
}

.cardbody {
    padding-bottom: 30%;

}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20%;
}

.card-custom {
    width: 40%;
    height: auto;
    margin: 4%;
    min-height: 50vh;
}

.card-header {
    text-align: center;
    font-size: 3vh;
    color: goldenrod;
}

.contactDescription {
    width: 50%;
    height: 50%;
}

#datetime {
    margin: auto;
    border: 2px solid goldenrod;
    text-align: center;
}

.make-date {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    height: 50vh;
    margin: auto;
    border: 4mm ridge rgba(170, 50, 220, .6);
    border-color: goldenrod;
}

.main-datetime {
    display: flex;
    height: 80vh;
}

.etape-suivante {
    align-self: flex-end;
    margin-bottom: 50px;
    margin-right: 150px;
}

.markholiday .ui-state-default {
    color: red;
}

#index-user {
    background: rgba(231, 227, 220, 0.89);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    color: rgb(94, 39, 39);
    font-size: 1em;
}

a.link {
    text-decoration: none;
}

#index-user:hover {
    box-shadow: -1px 2px 10px 3px rgba(70, 61, 61, 0.3) inset;
    background-color: rgb(238, 195, 85);
}

.main-presentation {
    margin: 0;
    padding: 0;
    height: auto;
    background-image: linear-gradient(rgba(221, 218, 211, 0.9), rgba(245, 238, 177, 0.5));
    background-size: cover;
    padding-top: 2%;
}

.photo-presentation {
    float: left;
    margin: 0 10px 10px 0;
    width: 40%;
    height: auto;
    max-width: 400px;
    margin-right: 8%;
    margin-left: 8%;
    padding-top: 2.5%;
}

.presentation p {
    font-size: 1.4rem;
    font-family: 'Century Gothic', Verdana, Arial, Helvetica, sans-serif;
    margin-top: 2%;
}

.tarifs {
    margin-left: 8%;
    padding-bottom: 5%;
}

.main-lieuRdv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#footer {
    background: linear-gradient(rgba(221, 218, 211, 0.9), rgba(245, 238, 177, 0.5));
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer a.site-footer {

    color: black;
}
