@media screen and (max-width: 767px) {
    .body {
        flex-direction: row;
        flex-wrap: wrap;
        color: red;
    }

    a.nav-link {
        font-size: 1rem;
        border: groove;
        width: 40vw;
        background-color: floralwhite;
    }

    #home-img {
        height: auto;
    }

    .row-accueil {
        margin-top: 100px;
    }
    
    #corps-etherique {
        margin-top: 300px;
    }

    .button-product {
        font-size: 3vh;
    }

    em {
        font-size: 3.4vh;
        display: ruby;
    }

    li.nav {
        color: red;
    }
    .main-lieuRdv {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #navbarNavDropdown a:hover {
        border-bottom: 2px solid #dead51;
        padding-bottom: 1px;
    }
    #map {
        width: auto;
        height: 30vh;
    }
    #contactt {
        display: flex;
        flex-direction: column-reverse;
    }
    .local {
        height: 21vh;
        margin: auto;
    }
    .card-header {
        text-align: center;
        font-size: 3vh;
        color: goldenrod;
    }
    .contactDescription {
        display: inline-block;
        width: auto;
    }
    .make-date {
        border: none;
        justify-content: flex-start;
    }
    .etape-suivante {
        align-self: flex-end;
    }

    #corps-etherique, #corps-emotionnel, #corps-mental, #corps-spirituel {
        flex-wrap: wrap;
    }

    .main-presentation {
        height: auto;
      
    }

    .btn-custom {
        background-color: rgba(192, 156, 65, 0.89);
        color: linear-gradient(rgba(221, 218, 211, 0.9), rgba(245, 238, 177, 0.5));
        font-weight: bold;
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
        margin-bottom: 4%;
        margin-right: 5%;
        margin-left: 5%;
            }

}

@media(min-width: 360px) and (max-width: 740px) {

    .row-accueil>.button-product {
        font-size: 1vh;
        color: red;
    }

}