@media(min-width: 768px) and (max-width: 1388px) {
/* page de presentation Qui suis-je */

    .main-presentation {
        height: auto;
       
    }

    .photo-presentation {
        width: 30%;
        height: auto;
        max-width: 300px;
        padding-top: 1%;
    }

    .presentation p {
        font-size: 1.4rem;
    }
    /*product-view*/

    .btn-prendre-rdv {
        margin-top: 8%;
        margin-right: 10%;
        margin-left: 5%;
    }

    .btn-retour {
        margin-top: 80%;
    }


}
