<form action="{{ path('category_delete', { id: category.id }) }}" method="post"
onsubmit= "return confirm('Vous êtes sur le point de supprimer une catégorie, confirmer?');">
    <input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="token" value="{{ csrf_token('delete' ~ category.id) }}"/>
	<button title="Supprimer la catégorie" type="submit">Supprimer</button>
</form>
