<form action="{{path('category_update', {id: category.id}) }}" method="post">
    <input type="hidden" name="token" value="{{ csrf_token('update'~ category.id )}}"/>

    <button  type="submit" title="Modifier la catégorie">ModifToken</button>
</form>

