{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Category
{% endblock %}

{% block body %}

	<div class="row-login">
		<h2>Créer une Catégorie</h2>
		<div class="cat-create">
			{% form_theme category 'form_div_layout.html.twig' %}
			{{ form_start(category) }}
			{{form_row(category.name, {'attr': {'class': 'name-category'}})}}
			{{ form_end(category) }}
		</div>
	</div>
{% endblock %}

