{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Category
{% endblock %}

{% block body %}

	{{form(updateForm)}}
		{# {% include('category/_update.html.twig') %} #}

		<a title = "Retour à la page précédente" class="btn-retour" href="{{path('category')}}" ><i class="fas fa-arrow-alt-circle-left"></i>Retour</a>

{% endblock %}