{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Category
{% endblock %}

{% block body %}
	{% include('_flash.html.twig') %}

	{% for category in categories %}
		<div class="main-category">
			<div class="row-category">

				<h3>{{ category.name }}</h3>
		
				<a title="Supprimer la categorie" href="{{path('category_view',{id: category.id} )}}">Afficher</a>
		

			</div>
		</div>
	{% endfor %}
{% endblock %}

