{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Modifier une cathégorie
{% endblock %}

{% block body %}

	{{ form(updateForm) }}
    

		<div class="Admin">
			<div class="Admin">
				<button title="Modifier la categorie" class="link" type="submit">
					<a title="Modifier la categorie" class="modif-category-view" href="{{path('category_update', {id: category.id}) }}">Modifier</a>
				</button>
				{# {% include('category/_update.html.twig') %} #}
				<a title="Retour à la page précédente" href="{{path('category_view', {id: category.id}) }}" class="btn-retour">
					<i class="fas fa-arrow-alt-circle-left"></i>Retour</a>
			</div>
		</div>

	{% endblock %}
