{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Category
{% endblock %}

{% block body %}
<div class="container">
	<div class="row-custom">
		<h2>{{ category.name }}</h2>	
		<div class=" btn-coin">
			<div class="btn-coin">
				<button title="Modifier la categorie" class="btn-retour" type="submit">
					<a title="Modifier la categorie" class="modif-category-view" href="{{path('category_update', {id: category.id}) }}">Modifier</a>
				</button>
				{# {% include('category/_update.html.twig') %} #}
				{% include ('category/_delete.html.twig') %}
				<a title="Retour à la page précédente" href="{{path('category', {id: category.id}) }}" class="btn-retour">
					<i class="fas fa-arrow-alt-circle-left"></i>Retour</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
