{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Prendre rendez-vous
{% endblock %}
{% block stylesheets %}
	{{parent() }}
	<link href="{{ asset('css/jquery.datetimepicker.min.css') }}" rel="stylesheet">
	<link href="{{ asset('css/jquery-ui.css') }}" rel="stylesheet">
	<link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet">

{% endblock %}
{% block body %}

	<h3>Choisissez une date :</h3>
	<div class="main-datetime">
		<div class="make-date">
			<input title= "Choisir une date" id="datetime" placeholder="choisir une date"/>

			{% if app.user %}
				<a title= "étape suivante" class="btn-etape-suivante" href="{{path('payment')}}">Suivant</a>

			{% else %}
				<a title= "étape suivante" class="btn-etape-suivante" href="{{path('app_register')}}">Suivant</a>
			{% endif %}

		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/jquery.js') }}"></script>
	<script src="{{ asset('js/jquery.datetimepicker.full.js') }}"></script>
	<script src="{{ asset('js/jquery-ui.js') }}"></script>
	<script src="{{ asset('js/jquery-ui.min.js') }}"></script>


	<script type="text/javascript">
		$(document).ready(function () {
			
			$("#datetime").datetimepicker({
				minDate: 0,
				dateFormat: 'mm/dd/yy',
				//inline: true, // afficher directement le calendrier
				numberOfMonths: [1, 2],
				//dayNamesMin: ['Sun','Tue','Wed','Thu','Fri','Sat','Mon'],
				step: 15,
				beforeShowDay: setCustomDate,				
			});
						

			function setCustomDate(date) {

				var day = date.getDay();
				var month = date.getMonth();
				            var currentDate = date.getDate();

				if (day == 0 || day == 6) { return [false]; } 
				else if (month == 0 && currentDate == 1) { return [false]; }
				else if(day != 0 && day != 6) { return getDisableDays(date); } 
				else { return [true]; }
			}			

			// Format [Mois, Jour, Année]
			var disabledDays = [[6, 21, 2021],[6, 23, 2021],[6, 29, 2021]];

			
			// Get list of all disable dates
			function getDisableDays(date) {
				var m = date.getMonth();
				var d = date.getDate();
				var y = date.getFullYear();

				for (i = 0; i < disabledDays.length; i ++) {
					if ((m == disabledDays[i][0] - 1) && (d == disabledDays[i][1]) && (y == disabledDays[i][2])) { return [false]; }
				}
				return [true];
			}
			
		});
	</script>
{% endblock %}
