{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	présentation
{% endblock %}

{% block body %}

	<div class="main-presentation">

		<h2>Présentation</h2>
		<img class="photo-presentation" src=" {{asset('../img/Sabrina.png')}}" alt=" photo de sabrina Reboux"/>

		<div class="presentation">
			<p>Dotée d'une grande sensibilité, je suis animée par une profonde envie de vous accompagner vrs un éveil de conscience.<br/>
				Je vous aide à mettre en lumière votre vraie nature et votre potentiel<br/>
				Je vous aide à transformer votre vie grâce à différentes techniques de soins énergétiques.<br/>

				Cette aide vous permet de débloquer des situations dans lesquelles vous êtes enfermées depuis lontemps<br/>
				Mes soins agissent sur le corps, l'esprit et le spirituel afin que vous puissiez retrouver l'harmonie avec vous-même et les autres<br/>
				Et ouvrir votre coeur !<br/>
				Vous êtes une personne unique !<br/>
				Vous souhaitez guérir vos blessures ?<br/>
				libérer votre mental ?<br/>
				Vous êtes fatigué(e), stréssé(e) ?<br/>
				Vous ressentez des douleurs ?<br/>
				Je travaille avec vous sur vos émotions.<br/>
			</p>
		</div>

		<div class="tarifs">
			<p>
				<h5>TARIFS</h5>
				ADULTES SEANCE DE 60 MIN : 60€<br/>
				ENFANTS (-13ans): 35€<br/>
				Sabrina REBOUX</p>
		</p>
	</div>
</div>{% endblock %}

