{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Welcome to EasyAdmin 3' %}

{% block page_content %}
	<div class="container">
		<div class="row">
			<span>Bienvenue sur le compte Admistrateur !</span>
		</div>

	</div>
{% endblock %}
