{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	lieu-rdv
{% endblock %}

{% block body %}
	<h1>{{lieuRdv }}</h1>
	<div class="row row-custom main-lieuRdv">
		<div class="card card-custom" style="width: 20rem;">
			<img class="card-img-top" src="../img/soin.jpg" alt" image de mains avec une boule d'énergie">
			<div class="card-body">
				<h4 class="card-title">A domicile</h4>
			</div>
			<div class="btn-admin">
				<a title="Etape suivante" href="{{path('make_date')}}" class="btn btn-custom btn-product-view btn-adistance">Etape suivante</a>
			</div>
		</div>
		<div class="card card-custom" style="width: 20rem;">
			<img class="card-img-top" src="../img/soin.jpg" alt"le thérapeute qui fait un soin énergétique sur une personne">
			<div class="card-body">
				<h4 class="card-title">Au Cabinet</h4>

				<p class="card-text">adresse :</p>
				<p>220 av de Près d'Arènes</p>
				<p>34070 Montpellier</p>

				<div class="btn-admin">
					<a title="Etape suivante" href="{{path('make_date')}}" class="btn btn-custom btn-product-view">Etape suivante</a>
				</div>
			</div>
		</div>
		<div class="card card-custom" style="width: 20rem;">
			<img class="card-img-top" src="../img/soin.jpg" alt" image de mains avec une boule d'énergie">
			<div class="card-body">
				<h4 class="card-title">A distance</h4>
			</div>
			<div class="btn-admin">
				<a title="Etape suivante" href="{{path('make_date')}}" class="btn btn-custom btn-product-view btn-adistance">Etape suivante</a>
			</div>
		</div>


	</div>

{% endblock %}

