<form action="{{ path('product_delete', {id: product.id}) }}" method = "post"  
    onsubmit="return confirm('Vous êtes sur le point de supprimer un produit, confirmer ?');">
        
        <input type="hidden" name="token" value="{{ csrf_token('delete' ~ product.id) }}">
        <button title= "Supprimer le produit" type="submit">Supprimer</button>
</form>

