<form action="{{path('product_update', {id: product.id}) }}" method="post">

    <input type="hidden" name="token" value="{{ csrf_token('update' ~ product.id )}}"/>
    <button title="Modifier le produit" type="submit">Modifier</button>
</form>