{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Creation Produit
{% endblock %}

{% block body %}

	{% form_theme createForm 'form_div_layout.html.twig' %}
	<div class="row row-custom">
	<h2>Créer une nouvelle Prestation</h2>
		{{ form_start(createForm) }}

		<div class="form-register">
			{{ form_row(createForm.category) }}
		</div>
		<div class="form-register">
			<label for="inputPrice" class="form-label"></label>
			{{ form_row(createForm.price) }}
		</div>


	
			<div class="form-register">
			<span class="btn btn-custom parcourir">
				{{ form_label(createForm.picture, 'Insérez une image') }}
				{{ form_widget(createForm.picture) }}
				<span><i class="far fa-image"></i></span>
			</span>
			</div>
		


		<div class="form-register">
			{{ form_row(createForm.deletePicture) }}
		</div>
		<div class="form-register">
			<label for="inputDescription" class="form-label"></label>
			{{ form_row(createForm.description) }}
		</div>

		<div class="btn-coin">
		<button title= "Valider" type="submit" class="btn btn-custom">Valider</button>
		</div>


		{{ form_end(createForm) }}

	</div>
{% endblock %}

