{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Services
{% endblock %}

{% block body %}
	<div class="row row-custom">
		<h2>Les Services disponibles</h2>
		{% if app.user %}
			{% for product in products %}
				<div class="card card-custom" style="width: 20rem;">
					<img src="{{asset(picture_product_dir ~ product.picture)}}" alt="product picture" class="card-img-top" alt="product picture">
					<div class="card-body">
						<h5 class="card-title">
							{{product.category}}
						</h5>
						<p class="card-text"></p>

						{{ product.description | length > 100 ? product.description | slice(0, 100) ~ '...' : product.description}}

					</div>
					<div class="action">
						<a title="Lire la suite de l'article" href="{{ path('product_view', {id: product.id}) }}" class="btn btn-custom">Lire la suite</a>

						{% if is_granted('ROLE_ADMIN') %}
							<div class="action">
								<div class="nav-item dropdown">
									<a title="Actions" class="dropdown-toggle btn btn-custom" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
										Actions
									</a>
									<div class="dropdown-menu">
										<a title="Modifier produit" class="dropdown-item" href="{{ path('product_update', {id: product.id}) }}">{% include('product/_update.html.twig') %}</a>
										{% include('product/_delete.html.twig') %}
									</div>
								</div>
							</div>
						{% elseif is_granted('ROLE_USER') %}
							<div class="action">
								<a title="prendre un rendez-vous" href="{{ path('lieu_rdv', {id: product.id}) }}" class="btn btn-custom btn-rdv">prendre rdv</a>
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		{% else %}


			{% for product in products %}

				<div class="card card-custom" style="width: 20rem;">
					<img src="{{asset(picture_product_dir ~ product.picture) }}" alt="product picture" class="card-img-top" alt="product picture">
					<div class="card-body">
						<h5 class="card-title">
							{{product.category}}
						</h5>
						<p class="card-text"></p>

						{{ product.description | length > 100 ? product.description | slice(0, 100) ~ '...' : product.description}}

					</div>

					<div class="action-custom">
						<a title="Lire la suite de l\'article" href="{{ path('product_view', {id: product.id}) }}" class="btn btn-custom">Lire la suite</a>

						<a title="Prendre un rendez-vous" href="{{ path('lieu_rdv', {id: product.id}) }}" class="btn btn-custom">prendre rdv</a>
					</div>
				</div>

			{% endfor %}
		{% endif %}
	</div>
{% endblock %}

