{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Modifier un Produit
{% endblock %}

{% block body %}
	<div class="row-login row-update-product">
	<h2>Modifier</h2>

		{% form_theme updateForm 'bootstrap_4_layout.html.twig' %}
			{{ form_start(updateForm) }}

		<div class="mb-3 form-control">
			{{ form_row(updateForm.category) }}
			{{ form_row(updateForm.description) }}
			{{ form_row(updateForm.price) }}
		</div>

		<div class="mb-3 form-control">
			{{ form_row(updateForm.picture) }}
		</div>

		<div class="mb-3 form-control">
		{{ form_row(updateForm.deletePicture) }}
		</div>
	<div class="Admin">
		<div class="Admin">
			{% include('product/_update.html.twig') %}
			<a title= "Retour à la page précédente" href="{{path('product_view', {id: product.id}) }}" class="btn-retour" ><i class="fas fa-arrow-alt-circle-left"></i>Retour</a>	
		{{ form_end(updateForm) }}
		</div>
	</div>
	{% endblock %}