{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Produit
{% endblock %}

{% block body %}

	<div class="container row-custom  row-view-product">
		<div class="row">
			<div class="col-12 col-lg-5">
				<img src="{{ asset(picture_product_dir ~ product.picture) }}" alt="product picture" class="card-img-top" alt="product picture">
			</div>
			<div class="col-12 col-lg-7">
				<h5 class="card-title">
					{{product.category}}
				</h5>
				<p class="card-text">{{ product.description}}</p>
				<p class="card-text">{{ (product.price/100) | format_currency('EUR')}}</p>
			</div>
		</div>

		<div class="row">
			{% if is_granted('ROLE_ADMIN') %}
				<div class="btn-coin ">
					<div class="btn-coin">
						{% include('product/_update.html.twig') %}
						{% include('product/_delete.html.twig') %}
						<a title="Retour à la page précédente" class="btn-retour" href="{{path('product')}}">
							<i class="fas fa-arrow-alt-circle-left"></i>Retour</a>
					</div>
				</div>

			{% else %}
				<div class="btn-coin">
					<div class="btn-coin">
						<a title="Prendre un rendez-vous" href="{{path('lieu_rdv')}}" class="btn btn-custom btn-prendre-rdv">Prendre rdv</a>
						<a title="Retour à la page précédente" href="{{path('product')}}" class="btn-retour">
							<i class="fas fa-arrow-alt-circle-left"></i>Retour</a>
					</div>
				{% endif %}
			</div>
		</div>
	{% endblock %}

