{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Contact
{% endblock %}

{% block body %}
	<h2>Coordonnées Sabrina Reboux</h2>
	<div id="contactt">
		<div class="contactDescription">
			<div class="card bg-light mb-3 local" style="max-width: 35rem;">
				<div class="card-header">
					<i class="far fa-envelope"></i>Par mail
				</div>
					
				<div class="card-body">
					<a title= "Mail de Sabrina Reboux" href="mailto:rebouxsabrina@gmail.com">rebouxsabrina@gmail.com</a>
				</div>
			</div>

			<div class="card bg-light mb-3 local" style="max-width: 35rem;">
				<div class=" card-header">
					<i class="fas fa-phone-alt"></i>
					Par téléphone
				</div>
				<div class="card-body">
					07 68  71 28 87
				</div>
			</div>

			<div class="card bg-light mb-3 local" style="max-width: 35rem;">
				<div class=" card-header">
					<i class="far fa-address-card"></i>
					Adresse du Cabinet</div>
				<div class="card-body">
						<p>220 avenue des Près d'Arènes</p>
						<p class="card-text">34070 Montpellier</p>
					</div>
				</div>

			</div>
				<div id="map">Carte localisation</div>
		</div>
	{% endblock %}
	{% block javascripts %}
		<script>
			var c = [43.59429, 3.87868];
			//on initialise la carte en indiquant l'id, le point de vue, le dernier élément est le zoom.
			var mymap = L.map('map').setView(c, 15);
			// tileLayer est un calque necessaire pour afficher la carte, on charge les "tuiles".
			L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', 
			{attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
			minZoom: 1,
			maxZoom: 20})
			.addTo(mymap);
			// on crée le marqueur
			var marker = L.marker(c).addTo(mymap);
			// on lui attribue une popup
			marker.bindPopup("<p>Sabrina Reboux</p>").openPopup();
		</script>
	{% endblock %}
