{% for label, messages in app.flashes%}
	<div class="container">
		<div class="alert alert-{{ label }} text-center alert-dismissible" role="alert">
			{% for message in messages %}
				{{message}} 
			{% endfor %}
		</div>
	</div>
{% endfor %}

