<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Sabrina Reboux -
			{% endblock %}
		</title>
        <meta name="description" content="différentes thérapies en consultations à distance où au cabinet comme le reiki, le magnétisme, l'acces Bar et l'energétique">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.min.css" integrity="sha256-u40zn9KeZYpMjgYaxWJccb4HnP0i8XI17xkXrEklevE=" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Bellota&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

		<link href="{{ asset('css/main.css') }}" rel="stylesheet">
		<link href="{{ asset('css/mediascreenPhone.css') }}" rel="stylesheet">
		<link href="{{ asset('css/mediascreenTablet.css') }}" rel="stylesheet">
		<link href="{{ asset('css/all.css') }}" rel="stylesheet"> {% block stylesheets %}{% endblock %}

		</head>
		<body>
			<div class="liseret" id="haut"></div>
			<header>
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a title= "Logo de l'entreprise" class="navbar-brand" data-toggle="tooltip" data-placement="top" title="Accueil" href="{{path('index')}}">
						<img src="{{ asset('img/Logo.jpg') }}" alt="Logo de l'entreprise Sabrina"/>
					</a>
					<a title= "Accueil" href="{{path('index')}}" title="Accueil">
						<h1>Sabrina Reboux</h1>
						<h4>Thérapeute</h4>
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<ul class="navbar-nav">
							<li class="nav-item active">
								<a title= "Accueil" class="nav-link nav" href="{{path('index')}}">Accueil
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a title= "Services" class="nav-link nav" href="{{path('product')}}">Services</a>
							</li>
							<li class="nav-item">
								<a title= "Contact" class="nav-link nav" href="{{path('contact')}}">Contact</a>
							</li>
							<li class="nav-item">
								<a title= "Présentation Sabrina" class="nav-link nav" href="{{path('presentation_therapeute')}}">Qui suis-je ?</a>
							</li>
						</li>

						{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a title= "Rendez-vous en ligne" class="nav-link nav" href="{{path('main_calendar')}}">Rdv en ligne</a>
						</li>

						{% else %}
						<li class="nav-item">
							<a title= "Rendez-vous en ligne" class="nav-link nav" href="{{path('product')}}">Rdv en ligne</a>
						</li>
						{% endif %}

						
						{% if is_granted('ROLE_ADMIN') %}
							<div class="action">


								<div class="nav-item dropdown">
									<a title= "Administrateur" class="nav-link nav " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Admin
									</a>
									<div class="dropdown-menu">
										<a title= "Créer une catégorie" class="dropdown-item" href="{{ path('category_create') }}">Créer une catégorie</a>
										<a title= "Créer une prestation" class="dropdown-item" href="{{ path('product_create') }}">Créer une prestation</a>
										<a title= "Catégory" class="dropdown-item" href="{{ path('category') }}">Catégory</a>
										<a title= "Clients" class="dropdown-item" href="{{ path('user') }}">Clients</a>
										<a title= "Agenda" class="dropdown-item" href="{{ path('main_calendar')}}">Agenda</a>
										<a title= "Déconnexion" class="dropdown-item" href="{{ path('app_logout') }}">Deconnexion</a>
									</div>
								</div>
							</div>
						{% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
							<div class="action">
								<li class="nav-item dropdown">
										<a title= "Bonjour" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Bonjour {{app.user}}
										</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										<a title= "Déconnexion" class="dropdown-item" href="{{ path('app_logout') }}">Deconnexion</a>
										<a title= "Déconnexion" class="dropdown-item" href="{{path('profile_index')}}">Voir mon profil</a>
									</li>
								</li>
							</div> 

						{% else %}

							<div class="action">
								<li class="nav-item dropdown">
									<a title= "Connexion" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Connexion
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										<a title= "Connexion" class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
										<a title= "Créer un compte" class="dropdown-item" href="{{ path('app_register') }}">Créer un compte</a>
									</li>
								</li>
							</div>
						{% endif %}
					</nav>
				</header>
			</body>
			{% block body %}
			{% endblock %}

				<footer>
					<div id="footer">
						<div>
							<a class= "site-footer" title="Site de Sabrina Reboux" href="http://domain.invalid/">&copy; Copyright 2021 Sabrina Reboux | tous droits réservés</a>
						</div>
						<div>
							<a class= "site-footer" title="politique de confidentialité" href="{{path('politique_confidentialite')}}">Mentions légales & politique de confidentialite</a>.
						</div>
					</div>
				</footer>

			<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
			<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.min.js" integrity="sha256-yirUYbNvdsLHfZcQDyDMB51pfQ0Mn8siGDZOvtBgCFw=" crossorigin="anonymous"></script>
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

			{% block javascripts %}{% endblock %}
		</body>
	</html>
</body>
