{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Récapitulatif{% endblock %}

{% block body %}

<div class="recap-paiement row-custom">
<h2>Récapitulatif</h2>
    <span class="mb-3">Service
    <input title= "Service" type="text "for="service"/>
    </span>

    <div class="mb-3">Lieu de rdv
    <input title= "Lieu de rendez-vous" type="text "for="service"/>
    </div>

    <div class="mb-3">Prix total
    <input title= "Prix total" type="text "for="service"/>
    </div>

    <div class="mb-3 payment">Paiement

    <button title= "Paiement par paypal" type="submit"class="paypal"> <i class="fab fa-cc-paypal"></i></button>
        <button title= "Paiement  par mastercard" type="submit" class="mastercard"><i class="fab fa-cc-mastercard"></i></button>
        <button title= "Paiement par carte Visa" type="submit" class="visa"><i class="fab fa-cc-visa"></i></button>
    </div>
</div>


{% endblock %}
