<form action="{{ path('user_delete', {id: user.id}) }}" method = "post"  
    onsubmit="return confirm('Vous êtes sur le point de supprimer un utilisateur, confirmer ?');">
        
        <input type="hidden" name="token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button title= "Supprimer l'utilisateur" type="submit">Supprimer</button>
</form>

