<form action="{{path('user_update', {id: user.id}) }}" method="post">
    <input type="hidden" name="token" value="{{ csrf_token('update' ~ user.id )}}"/>

    <button title="Modifier l'utilisateur" type="submit">Modifier</button>
</form>