{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Modification fiche client
{% endblock %}

{% block body %}
	<div class="row">
		<div class="row-custom">
			{% form_theme updateForm 'bootstrap_4_layout.html.twig' %}

			{{ form_start(updateForm) }}
			{{ form_widget(updateForm) }}
			{{ form_start(updateForm) }}

		</div>
	</div>
		{% if app.user and app.user == user or is_granted('ROLE_ADMIN')%}
			<div class="row-update-user">
				<div class="">
					{% include('user/_update.html.twig') %}
				</div>
				<div class="">
					{% include('user/_delete.html.twig') %}
				</div>
				<a title="Retour à la page précédente" class="btn-retour" href="{{path('user')}}">
					<i class="fas fa-arrow-alt-circle-left"></i>Retour</a>
			</div>
		{% endif %}
{% endblock %}

