{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Liste des clients
{% endblock %}

{% block body %}
{% include('_flash.html.twig') %}
	<div class="clients">
		<h2>Clients</h2>
		<table class="table">
			<thead>
				<tr>
					<th>NOM-Prénom</th>
					<th>Adresse</th>
					<th>Email</th>
					<th>Téléphone</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				{% for user in users %}
					<tr>
						<td>{{user.lastName }}-{{user.firstName }}</td>
						<td>{{user.addressNumber}},{{user.addressType}}
							{{user.addressName}}-{{user.addressZipCode}},{{user.addressCity}}</td>
						<td>{{user.email}}</td>
						<td>{{user.userPhone}}</td>
						<td>
							<button title= "Afficher la fiche du client"id="index-user" type="submit">
								<a title= "Afficher la fiche du client" class="link" href={{ path('user_view', {id: user.id} ) }}>afficher</a>
							</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

