{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Client :
	{{user.lastName}}
	-
	{{user.firstName}}
{% endblock %}

{% block body %}
	<div class="row row-custom ">
		<div class= "card" style="width: 18vw;">
			<div class="card-user">
				<img src="{{ asset('uploads/' ~ user.picture) }}" alt="photo de l'utilisateur" class="card-img-top user-picture">
				<h2 class="card-title">
					{{user.lastName}}
					-
					{{user.firstName}}
				</h2>
				<div class="card-body cardbody">
					<p class="card-text">{{user.addressNumber}},{{user.addressType}}
						{{user.addressName}}-{{user.addressZipCode}},{{user.addressCity}}</p>
					<p class="card-text">{{user.dob | date("m/d/Y")}}</p>
					<p class="card-text">{{user.email}}
					<p class="card-text">{{user.userPhone}}</p>	


				</div>
			</div>
		</div>

					{% if app.user and app.user == user or is_granted('ROLE_ADMIN')%}
						<div class="row-update-user">

							<div class="row">
								<div class="btn-coin ">
									<div class="btn-coin">
										{% include('user/_update.html.twig') %}
										{% include('user/_delete.html.twig') %}
										<a title="Retour à la page précédente" class="btn-retour" href="{{path('user')}}">
											<i class="fas fa-arrow-alt-circle-left"></i>Retour</a>
									</div>
								</div>
							</div>

							{% else %}
								<div class="btn-coin">
									<div class="btn-coin">
										<a title="Prendre un rendez-vous" href="{{path('lieu_rdv')}}" class="btn btn-custom btn-prendre-rdv">Prendre rdv</a>
										<a title="Retour à la page précédente" href="{{path('user')}}" class="btn-retour">
											<i class="fas fa-arrow-alt-circle-left"></i>Retour</a>
									</div>
								</div>
						</div>
					{% endif %}

	</div>
{% endblock %}

